

<app-product-search></app-product-search>

<a href="http://localhost:4201/createProduct">Create Product</a>
<a routerLink="createProduct">Create Product</a>
<table>
  <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @for (item of productList;track item.name){
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>
                <button (click)="deleteProduct(item._id)">Delete</button>
                <button (click)="editProduct(item._id,item.name, item.price, item.quantity)">Edit</button>
            </td>

        </tr>

        }
    </tbody>
</table>
