<table>
    <thead>
        <tr>
            <th>name</th>
            <th>price</th>
            <th>quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (item of productList;track item.name){
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>
                <button (click)="deleteProduct(item._id)">delete</button>
                <button (click)="editProduct(item._id,item.name, item.price, item.quantity)">edit</button>
            </td>

        </tr>

        }
    </tbody>
</table>